
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body class="sb-nav-fixed">
    <div id="layoutSidenav">
        <div id="layoutSidenav_content">
            <div class="container-fluid px-4">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header text-white bg-secondary border border-grey border-bottom-0">
                                <h6 class="mb-0">
                                    <span> <i class="fa fa-file-excel"></i> Informe NC</span>
                                </h6>
                            </div>
                            <div class="card-body border border-grey pt-1">
                                <div class="row justify-content-lg-center">
                                    <div class="col-sm-2">
                                        <div class="form-group mb-0">
                                            <label for="txtRucProveedor" class="col-form-label col-form-label-sm">Fecha Inicio:</label>
                                            <input type="date" class="form-control form-control-sm model shadow-sm" id="Inicio" name="Inicio" autocomplete="off" value="@DateTime.Today.ToString("yyyy-MM-dd")">
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group mb-0">
                                            <label for="txtRucProveedor" class="col-form-label col-form-label-sm">Fecha Fin:</label>
                                            <input type="date" class="form-control form-control-sm model shadow-sm" id="Fin" name="Fin" autocomplete="off" value="@DateTime.Today.ToString("yyyy-MM-dd")">
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group mb-0">
                                            <label for="btnBuscar" class="col-form-label col-form-label-sm invisible">On:</label>
                                            <button id="btnBuscar" type="button" class="btn btn-sm btn-danger btn-block"><i class="fas fa-search"></i> Buscar</button>
                                        </div>
                                    </div>
                                    <div class="col-sm-2" id="ReporteFULL">
                                        <div class="form-group mb-0">
                                            <label for="btnReporteFULL" class="col-form-label col-form-label-sm invisible">On:</label>
                                            <button id="btnReporteFULL" type="button" onclick="GenerarInformeFull()" class="btn btn-sm btn-success btn-block"><i class="fas fa-file-excel"></i> ReporteFull</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div id="detalleNC">
                            <div class="card">
                                <div class="card-header text-dark bg-white border border-grey border-bottom-0 pt-0 pb-0">
                                    <div class="row ml-0 mr-0">
                                        <div class="col-lg-3 col-md-12 col-sm-12 text-left ml-0 mt-0 mb-2 pl-0 pt-2">
                                            <h6 class="mb-0 mt-1 1h-100"><i class="fa fa-list"></i> Detalle Busqueda</h6>
                                        </div>

                                    </div>
                                </div>
                                <div class="card-body border border-grey">
                                    <div class="col-lg-12">
                                        <div class="alert alert-info" role="alert">
                                            SELECCIONE FECHAS PARA BUSCAR INFORMACIÓN
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="detalleNCListaByZona">

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
@section scripts{
    <script>

        $(document).ready(function () {
            $("#ReporteFULL").hide();
            $("#btnBuscar").click(function () {
             $('#cargal').modal('show');
              var url = "@Url.Action("globalNCDetails", "Informes")";
              var Inicio = $("#Inicio").val();
              var Fin = $("#Fin").val();
              var data = { Inicio: Inicio, Fin: Fin };

                $.ajax({
                    type: 'POST',
                    url: url,
                    data: data,
                    success: function (response) {
					setTimeout(carga, 2000);
					setTimeout(bajaModal, 3000);
					
                        
						  function bajaModal() {
                                   $('#cargal').modal('hide');
								};
						function carga () {
						$("#detalleNC").show();
                        $("#detalleNCListaByZona").html("");

                        $("#detalleNC").html(response);
						
						};
                       
                    },
                    error: function (xhr, ajaxOptions, thrownError) {

                        $('#cargal').modal('hide');
                        alert(thrownError);
                    }
                });

            });


            //jQuery.ajax({
            //    url: $.MisUrls.url._TiendaPorNombre,
            //    type: "GET",
            //    dataType: "json",
            //    contentType: "application/json; charset=utf-8",
            //    success: function (data) {
            //        $("<option>").attr({ "value": 0 }).text("-- Seleccionar todas--").appendTo("#cboTienda");
            //        $.each(data.data, function (i, item) {
            //            $("<option>").attr({ "value": item.Codigo }).text(item.Nombre_Centro).appendTo("#cboTienda");

            //        })
            //    },
            //    error: function (error) {
            //        console.log(error)
            //    },
            //});



        });





    </script>
}