
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
                Carga Carta Instruccion
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        @using (Html.BeginForm("saveCartaInstruccion", "Tesoreria", FormMethod.Post, new { id = "saveCartaInstruccion", role = "form", enctype = "multipart/form-data" }))
        {
    <div class="modal-body">
        <div class="form-group col-md-4">
            <div class="form-group mb-3">
                <label for="txtRucProveedor" class="col-form-label col-form-label-sm">Fecha Inicio :</label>
                <input type="date" class="form-control form-control-sm model" id="Inicio" name="Inicio" autocomplete="off" value="@DateTime.Today.ToString("yyyy-MM-dd")">
            </div>
        </div>
        <div class="form-group col-md-4">
            <div class="form-group mb-3">
                <label for="txtRucProveedor" class="col-form-label col-form-label-sm">Fecha Fin:</label>
                <input type="date" class="form-control form-control-sm model" id="Fin" name="Fin" autocomplete="off" value="@DateTime.Today.ToString("yyyy-MM-dd")">
            </div>
        </div>
        <div class="form-group col-md-6">
            <label>Adjuntar Carta Instruccion</label>
            <INPUT id="oFile" type="file" runat="server" NAME="oFile" accept="application/xlsx">
        </div>
    </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary" id="Cargarlv">Cargar Libro</button>
            </div>
        }

    </div>
</div>

    <script>
        $(document).ready(function () {
            $('#Cargarlv').click(function () {
                event.preventDefault();
                $('#cargal').modal('show');
                var para = new FormData($(saveCartaInstruccion).get(0));
                console.log(para);
                var url = '@Url.Action("saveCartaInstruccion", "Tesoreria")';
                $.ajax({
                    type: 'POST',
                    url: url,
                    //async: false,
                    processData: false,
                    contentType: false,
                    data: para,
                    success: function (r) {
                        if (r.error == false) {

                            setTimeout(carga, 3000);
                           /* setTimeout(CerrarVistaP, 10000);*/
                            setTimeout(mostrarMensaje, 4000);
                            setTimeout(bajaModal, 6000);
                            function carga() {

                                $("#cargal").modal('hide');

                            };
                            //function CerrarVistaP() {
                            //    $('#modal').modal('hide');
                            //};
                            function bajaModal() {
                                $('#cargarMensajes').modal('hide');
                                $('#modal').modal('hide');


                            };

                            function mostrarMensaje() {
                                $("#cargarMensajes").modal('show');
                                $('#mensajeLoad').html(r.respuesta);

                            };


                        }
                        else {
                            setTimeout(carga, 3000);
                            setTimeout(mostrarMensaje, 4000);
                            setTimeout(bajaModal, 6000);
                            function carga() {
                                $("#cargal").modal('hide');
                                //$("#cargarMensajes").modal('show');
                                //$('#mensajeLoad').html(r.respuesta);
                            };
                            function bajaModal() {

                                $("#cargarMensajes").modal('hide');

                            };

                            function mostrarMensaje() {
                                $("#cargarMensajes").modal('show');
                                $('#mensajeLoad').html(r.respuesta);

                            };
                        }


                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert(thrownError);
                    }
                });

            });
        });
    </script>


